In [2]:
s = 'a$b@c@d'
print(s.split('@','$'))

TypeError: 'str' object cannot be interpreted as an integer

In [4]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 2)

print(x)

['apple', 'banana', 'cherry#orange']

In [5]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())
#The output is none because list_1.sort() will only sort the list.

None

In [6]:
num_1=[9,4,2,7]
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)
#This is the correct answer because the sort() function will modify the original list, 
#whereas the sorted() function will create a new list that has the elements of the original list in a sorted manner.

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

In [7]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [8]:
var=(5)
print(type(var))

<class 'int'>

In [9]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [10]:
a= {1,2,4,5}
b= {5,6,7,8}
print(a-b)

{1, 2, 4}

In [11]:
s= {3,4,5}
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [12]:
numbers= {1,0,6,1,4,0,7}
print(len(numbers))

5

In [13]:
dict= {'ab':12,'cd':34,'ef':56}
print(dict[1])

KeyError: 1

In [14]:
marks= {'John':45,'Alex':60}
print(marks.keys())

dict_keys(['John', 'Alex'])

In [15]:
d = {"Python":40, "R":45}
"Python" in d

True

In [16]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

In [17]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8